<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Favicon -->
    <link rel="icon" href="/static/faviconerror.png" type="image/x-icon" />

    <!--Bootstrap styles-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="/static/styles.css" />

    <title>Apology /:</title>
 </head>

<body>
    <img src="static/apology.png" style="justify-content: center; display:flex; margin:auto; padding-top:40px; align-items: center; height:400px">
    <h3>{{message}}</h3>
    <a href="{{link}}">Redirect to profile</a>
</body>
