{% extends 'layout.html' %} {% block title %} Profile {% endblock %} 
{% block content %} 
{% if username %}
<!-- if session name exists we need to show the profile and logout button -->
  <div class="container">
    <div class="wrapper-profile">
      <div class="row">
        <div class="col-md-3">
          <div class="feature-box-profile">
            <img src="/static/pfp.png" class="feature-img-profile"/>
          </div>
        </div>
        <div class="col-md-4">
          <h1>{{username}}</h1>
        </div>
        <div class="col-md-5 col-md-5-with-line">
          <div class="vertical-line"></div>
          <form action="/" method="post">
            <div class="button-profile">
              <button class="btn btn-primary" type="submit">logout</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% else %}
<!-- if session name doesnt exists we need to ask for name via form and submit via post -->
<form action="/profile" method="post">
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <div class="input-group mb-3">
        <input
          type="text"
          id="myInput"
          class="form-control"
          placeholder="Pick a name"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="username"
          autocomplete="off"
        />
      </div>
      <div class="text-center">
        <button class="btn btn-primary" type="submit" id="enter-btn">Enter</button>
      </div>
    </div>
  </div>
</form>


<script>
  //it works lmao idk how
  document.getElementById('enter-btn').addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                
            }
        });
</script>

{% endif %} {% endblock %}
